<!DOCTYPE html>
<html lang='en'>
<head>
	<meta class="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<title>Steem Messenger</title>
	<link rel='stylesheet' href='../css/style.css' />
	<link rel='stylesheet' href='../css/chat.css' />
</head>
<body>
	<!-- Hero(extended) navbar -->
	<div class="navbar navbar--extended">
		<nav class="nav__mobile"></nav>
		<div class="container">
			<div class="navbar__inner">
				<a href="./" class="navbar__logo">STEEM MESSENGER</a>
				<nav class="navbar__menu">
					<ul>
						<li><a href="https://signup.steemit.com/" target="_blank">Sign Up</a></li>
						<li><a href="/login">Login</a></li>
					</ul>
				</nav>
				<div class="navbar__menu-mob"><a href="" id='toggle'><svg role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path fill="currentColor" d="M16 132h416c8.837 0 16-7.163 16-16V76c0-8.837-7.163-16-16-16H16C7.163 60 0 67.163 0 76v40c0 8.837 7.163 16 16 16zm0 160h416c8.837 0 16-7.163 16-16v-40c0-8.837-7.163-16-16-16H16c-8.837 0-16 7.163-16 16v40c0 8.837 7.163 16 16 16zm0 160h416c8.837 0 16-7.163 16-16v-40c0-8.837-7.163-16-16-16H16c-8.837 0-16 7.163-16 16v40c0 8.837 7.163 16 16 16z" class=""></path></svg></a></div>
			</div>
		</div>
	</div>
	<!-- Hero unit -->
	<div class="hero">
		<div class="hero__overlay hero__overlay--gradient"></div>
		<div class="hero__mask"></div>
		<div class="hero__inner">
			<div class="container">
				<div class="hero__content">
					<div class="hero__content__inner" id='navConverter'>
						<h1 class="hero__title">The perfect combination between blockchain and messaging</h1>
						<p class="hero__text">A powerful tool to ensure privacy; a beautiful open source project backed by one of the most enthusiastic community. Steem Messenger is meant for people who only accept the best.</p>
						<a href="/login" class="button button__accent">Try it now</a>
						<a href="/infos/what-is-steem-messenger" class="button hero__button">Learn more</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="hero__sub">
		<span id="scrollToNext" class="scroll">
			<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" class='hero__sub__down' fill="currentColor" width="512px" height="512px" viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;" xml:space="preserve"><path d="M256,298.3L256,298.3L256,298.3l174.2-167.2c4.3-4.2,11.4-4.1,15.8,0.2l30.6,29.9c4.4,4.3,4.5,11.3,0.2,15.5L264.1,380.9c-2.2,2.2-5.2,3.2-8.1,3c-3,0.1-5.9-0.9-8.1-3L35.2,176.7c-4.3-4.2-4.2-11.2,0.2-15.5L66,131.3c4.4-4.3,11.5-4.4,15.8-0.2L256,298.3z"/></svg>
		</span>
	</div>
	<!-- Steps -->
	<div class="steps landing__section">
		<div class="container">
			<h2>Who can use Steem Messenger ?</h2>
			<p>Here's who we can think of, but surely creative people will surprise us.</p>
		</div>
		<div class="container">
			<div class="steps__inner">
				<div class="step">
					<div class="step__media">
						<img src="../images/undraw_designer.png" class="step__image">
					</div>
					<h4>Programmers</h4>
					<p class="step__text">Developers can create automated scripts that interact with users to send and/or receive informations for their businesses</p>
				</div>
				<div class="step">
					<div class="step__media">
						<img src="../images/undraw_responsive.png" class="step__image">
					</div>
					<h4>Content Creators/Users</h4>
					<p class="step__text">Users can safely engage with everybody on the Steem social network, without needing anything more than your recipient username.</p>
				</div>
				<div class="step">
					<div class="step__media">
						<img src="../images/undraw_creation.png" class="step__image">
					</div>
					<h4>Community Managers</h4>
					<p class="step__text">Every community needs its chat medium. CMs can manage easily their communities with powerful tools designed by curators, for curators</p>
				</div>
			</div>
		</div>
	</div>

	<div class="expanded landing__section">
		<div class="container">
			<div><center>
				<h2>Choose The Best Plan For You</h2>
				<p>Join over 1 Million of users onto the Steem Social Network !</p></center>
			</div>
			<div class="container">
				<div class="steps__inner">
					<div class="step">
						<div class="price-box">
							<h2 class="pricing-plan">Starter</h2>
							<div class="price">1<small> upvote/week</small></div>
							<p>Basic functionnalities for starter users</p>
							<hr>
							<ul class="pricing-info">
								<li>Maximum security</li>
								<li>100 Kb max/file transfer</li>
							</ul>
							<a href="https://steemconnect.com/sign/vote?author=steem-messenger&permlink=steem-messenger-1-weekly-subscription-post" class="button hero__buttonblack">Get started</a>
						</div>
					</div>
					<div class="step">
						<div class="price-box popular">
							<div class="popular-text">Popular</div>
							<h2 class="pricing-plan">Regular</h2>
							<div class="price"><sup class="currency">SBD</sup>1<small>/month</small></div>
							<p>Regular functionnalities for regular users</p>
							<hr>
							<ul class="pricing-info">
								<li>Access to special events</li>
								<li>2 Mb max/file transfer</li>
							</ul>
							<a href="https://steemconnect.com/sign/transfer?to=steem-messenger&amount=1.000%20SBD" class="button button__accent">Get started</a>
						</div>
					</div>
					<div class="step">
						<div class="price-box">
							<h2 class="pricing-plan">Plus</h2>
							<div class="price"><sup class="currency">SBD</sup>5<small>/month</small></div>
							<p>Pro functionnalities for experienced users</p>
							<hr>
							<ul class="pricing-info">
								<li>Access to the developers API</li>
								<li>10 Mb max/file transfer</li>
							</ul>
							<a href="https://steemconnect.com/sign/transfer?to=steem-messenger&amount=5.000%20SBD" class="button hero__buttonblack">Get started</a>
						</div>
					</div>
				</div>
			</div>			
		</div>
	</div>


	<!-- Expanded sections -->
	<div class="expanded landing__section">
		<div class="container">
			<div class="expanded__inner">
				<div class="expanded__media">
					<img src="../images/together.png" class="expanded__image">
				</div>
				<div class="expanded__content">
					<h2 class="expanded__title">Ready for the next-gen messaging experience ?</h2>
					<p class="expanded__text">Steem Messenger is simple, safe, built for steemians, and quite beautiful to use. It is designed with the community, for the community. In a nutshell, you'll never forget that Steem Messenger is the appropriate tool for handling interpersonnal interactions on the Steem network.</p>
				</div>
			</div>
		</div>
	</div>
	<!-- Call To Action -->
	<div class="cta cta--reverse">
		<div class="container">
			<div class="cta__inner">
				<h2 class="cta__title">Get started now</h2>
				<p class="cta__sub cta__sub--center">Try out the latest version !</p>
				<a href="/login" class="button button__accent">Try it now</a>
			</div>
		</div>
	</div>
	<!-- Footer -->
	<div class="footer footer--dark">
		<div class="container">
			<div class="footer__inner">
				<a href="#" class="footer__textLogo">STEEM MESSENGER</a>
				<div class="footer__data">
					<div class="footer__data__item">
						<div class="footer__row">
							Created by <a href="https://busy.org/@kingswisdom" target="_blank" class="footer__link">@kingswisdom</a>
						</div>
						<div class="footer__row">
						with the help of graphic designer <a href="https://busy.org/@happydaddyfr" target="_blank" class="footer__link">@happydaddyfr</a>
						</div>
						<div class="footer__row">
							and the crypto magician <a href="https://busy.org/@cryptohazard" target="_blank" class="footer__link">@cryptohazard</a>
						</div>
					</div>
					<div class="footer__data__item">
						<div class="footer__row">Created for <a href="https://steem.io/" target="_blank" class="footer__link">Steem</a>
						</div>
						<div class="footer__row">Powered by <a href="https://utopian.io/" target="_blank" class="footer__link">Utopian</a>
						</div>
					</div>
					<div class="footer__data__item">
					<div class="footer__row">
						<a href="https://github.com/kingswisdom/SteemMessenger" target="_blank" class="footer__link">GitHub</a>
					</div>
					<div class="footer__row">
						<a href="https://busy.org/@steem-messenger" target="_blank" class="footer__link">Busy</a>
					</div>
					
				</div>
			</div>
		</div>
	</div>

<script src='../js/app.min.js'></script>

</body>
</html>