<!DOCTYPE html>
<html lang='en'>
<head>
	<meta class="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<title>Steem Messenger</title>
	<link rel='stylesheet' href='../css/style.css' />
</head>
<body>
	<!-- Hero(extended) navbar -->
	<div class="navbar navbar--extended">
		<nav class="nav__mobile"></nav>
		<div class="container">
			<div class="navbar__inner">
				<a href="../" class="navbar__logo">STEEM MESSENGER</a>
				<nav class="navbar__menu">
					<ul>
						<li><a href="https://signup.steemit.com/">Sign Up</a></li>
						<li><a href="/login">Login</a></li>
					</ul>
				</nav>
				<div class="navbar__menu-mob"><a href="" id='toggle'><svg role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path fill="currentColor" d="M16 132h416c8.837 0 16-7.163 16-16V76c0-8.837-7.163-16-16-16H16C7.163 60 0 67.163 0 76v40c0 8.837 7.163 16 16 16zm0 160h416c8.837 0 16-7.163 16-16v-40c0-8.837-7.163-16-16-16H16c-8.837 0-16 7.163-16 16v40c0 8.837 7.163 16 16 16zm0 160h416c8.837 0 16-7.163 16-16v-40c0-8.837-7.163-16-16-16H16c-8.837 0-16 7.163-16 16v40c0 8.837 7.163 16 16 16z" class=""></path></svg></a></div>
			</div>
		</div>
	</div>
	<!-- Hero unit -->
	<div class="page__header">
		<div class="hero__overlay hero__overlay--gradient"></div>
		<div class="hero__mask"></div>
		<div class="page__header__inner">
			<div class="container">
				<div class="page__header__content">
					<div class="page__header__content__inner" id='navConverter'>
						<h1 class="page__header__title">Steem Messenger</h1>
						<p class="page__header__text">Prepare for the next-gen messaging experience.</p>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- Page content -->
	<div class="page">
		<div class="container">
			<div class="page__inner">
				<div class="page__menu">
					<ul class="vMenu">
						<li><a href="#" class="vMenu--active">What is Steem Messenger ?</a></li>
						<li><a href="what-is-steem">What is Steem ?</a></li>
						<li><a href="privacy">Privacy</a></li>
						<li><a href="our-values">Our values</a></li>
					</ul>
				</div>
				<div class="page__main">
					<div class="text-container">
						<h3 class="page__main__title">About the project</h3>
						<p>Steem Messenger aims to be the ultimate chat application for the Steem blockchain. Designed for privacy, with the clever use of the Private Memo Key for encrypting every bit of data between you and your recipient, you'll soon be able to safely engage with everybody on the Steem social network, without needing anything more than your recipient username.</p>
						<h3 class="page__main__title">Designed for convenience</h3>
						<p>Messaging apps like Discord and Steem.Chat don't offer the safe and convenient environnement that users expect from the blockchain industry. The correct usage of the memo key, and the integration of the widget on every Steem powered application (but not only !) set Steem Messenger apart from generic applications. Each message is carefuly encrypted before emiting it to your recipient, providing you with this uniquely safe and seamless experience.</p>
						<p>Average applications force you to look for your recipient's ID, and if by any chance it is obtained, you still have to make sure that it is indeed him and not a usurper, which is time consuming.</p>
						<p>Steem Messenger is simple, safe, built for steemians, and quite beautiful to use. It is designed with the community, for the community. In a nutshell, you'll never forget that Steem Messenger is the appropriate tool for handling interpersonnal interactions on the Steem network.</p>
					</div>
				</div>
			</div>
		</div>
	</div>

<script src='../js/app.min.js'></script>
</body>
</html>