<!DOCTYPE html>
<html lang='en'>
<head>
	<meta class="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<title>Authentication @Steem-Messenger</title>
	<link rel='stylesheet' href='css/style.css' />
</head>
<body>
	<!-- navbar -->
	<div class="navbar">
		<nav class="nav__mobile"></nav>
		<div class="container">
			<div class="navbar__inner">
				<a href="./index.html" class="navbar__logo">STEEM MESSENGER</a>
				<nav class="navbar__menu">
					<ul>
						<li><a href="./index.html">Home</a></li>
						<li><a href="https://signup.steemit.com">Sign up</a></li>
					</ul>
				</nav>
				<div class="navbar__menu-mob"><a href="" id='toggle'><svg role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path fill="currentColor" d="M16 132h416c8.837 0 16-7.163 16-16V76c0-8.837-7.163-16-16-16H16C7.163 60 0 67.163 0 76v40c0 8.837 7.163 16 16 16zm0 160h416c8.837 0 16-7.163 16-16v-40c0-8.837-7.163-16-16-16H16c-8.837 0-16 7.163-16 16v40c0 8.837 7.163 16 16 16zm0 160h416c8.837 0 16-7.163 16-16v-40c0-8.837-7.163-16-16-16H16c-8.837 0-16 7.163-16 16v40c0 8.837 7.163 16 16 16z" class=""></path></svg></a></div>
			</div>
		</div>
	</div>
	<!-- Authentication pages -->
	<div class="auth">
		<div class="container">
			<div class="auth__inner">
				<div class="auth__media">
					<img src="./images/undraw_selfie.png">
				</div>
				<div class="auth__auth">
					<h1 class="auth__title">Connect to Steem Messenger</h1>
					<p>Your can find your Private Memo Key on Steemit in <br>Settings > Permissions > Show Private Memo Key</p>
					<form method='post' class="form">
						<input name="username" class="fakefield">
						<label>Email</label>
						<input type="text" name="username" id='username' placeholder="Your Steem username">
						<label>Private Memo Key</label>
						<input type="password" name="PrivateMemoKey" id='PrivateMemoKey' placeholder="Your Private Memo Key" autocomplete="off">
						<button type='submit' class="button button__accent">Log in</button>
						<a href="https://signup.steemit.com"><h6 class="left-align" >Not registered yet ?</h6></a>
					</form>
				</div>
			</div>
		</div>
	</div>

<script src='js/app.min.js'></script>
</body>
</html>