<!DOCTYPE html>
<html lang='en'>
<head>
	<meta class="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<title>Steem Messenger</title>
	<link rel='stylesheet' href='../css/style.css' />
</head>
<body>
	<!-- Hero(extended) navbar -->
	<div class="navbar navbar--extended">
		<nav class="nav__mobile"></nav>
		<div class="container">
			<div class="navbar__inner">
				<a href="../" class="navbar__logo">STEEM MESSENGER</a>
				<nav class="navbar__menu">
					<ul>
						<li><a href="https://signup.steemit.com/">Sign Up</a></li>
						<li><a href="/login">Login</a></li>
					</ul>
				</nav>
				<div class="navbar__menu-mob"><a href="" id='toggle'><svg role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path fill="currentColor" d="M16 132h416c8.837 0 16-7.163 16-16V76c0-8.837-7.163-16-16-16H16C7.163 60 0 67.163 0 76v40c0 8.837 7.163 16 16 16zm0 160h416c8.837 0 16-7.163 16-16v-40c0-8.837-7.163-16-16-16H16c-8.837 0-16 7.163-16 16v40c0 8.837 7.163 16 16 16zm0 160h416c8.837 0 16-7.163 16-16v-40c0-8.837-7.163-16-16-16H16c-8.837 0-16 7.163-16 16v40c0 8.837 7.163 16 16 16z" class=""></path></svg></a></div>
			</div>
		</div>
	</div>
	<!-- Hero unit -->
	<div class="page__header">
		<div class="hero__overlay hero__overlay--gradient"></div>
		<div class="hero__mask"></div>
		<div class="page__header__inner">
			<div class="container">
				<div class="page__header__content">
					<div class="page__header__content__inner" id='navConverter'>
						<h1 class="page__header__title">Steem Messenger</h1>
						<p class="page__header__text">Prepare for the next-gen messaging experience.</p>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- Page content -->
	<div class="page">
		<div class="container">
			<div class="page__inner">
				<div class="page__menu">
					<ul class="vMenu">
						<li><a href="what-is-steem-messenger">What is Steem Messenger ?</a></li>
						<li><a href="what-is-steem">What is Steem ?</a></li>
						<li><a href="#" class="vMenu--active">Privacy</a></li>
						<li><a href="our-values">Our values</a></li>
					</ul>
				</div>
				<div class="page__main">
					<div class="text-container">
						<h3 class="page__main__title">Designed to protect your privacy</h3>
						<p>At Steem Messenger, we believe that privacy is a fundamental human right. Every moment you share, picture, phone call, or even visio calls, should be kept private. Our software is designed with a particular focus on your data's privacy. </p>
						<h3 class="page__main__title">Only you can access to your session</h3>
						<p>Your session is secured with an alphanumeric passcode that you can choose or easily generate.</p>
						<h3 class="page__main__title">Your inbox plays by your rules</h3>
						<p>You can easily adjust your privacy settings, and decide who on the network will have to right to send you a message. Your inbox, your rules.</p>
						<h3 class="page__main__title">Your data belongs to you</h3>
						<p>Whether you're sending a message, taking a phone call, or chatting in communities groups, you can do it with mathematical certainty that Steem Messenger cannot collect your personnal data, nor sell it to any company.</p>
					</div>
				</div>
			</div>
		</div>
	</div>

<script src='../js/app.min.js'></script>
</body>
</html>